<label for="language">Language</label>
{{#power-select
  classNames="form-control"
  options=locales
  searchField="label"
  selected=current
  onchange=(action "change")
as |loc|}}
  <img src="{{loc.img}}" alt="" height="25" width="25" class="flagSelect">&nbsp;
  <strong>{{loc.text}}</strong>
{{/power-select}}
<small id="languageHelp" class="form-text text-muted">{{t "profile.general_informations.language_help"}} {{i18n.locale}}</small>
