
  <div class="card">
    <div class="card-header">
      Eau <span class="badge">R456214</span>
    </div>
    <div class="card-body">
      <h5 class="card-title">Compteur d'eau maison principale</h5>
      <h3>28/02/2017</h3>
      <h2>245 m<sup>3</sup></h2>
      <a href="#" class="btn btn-primary">New reading</a>
    </div>
  </div>
