$ember-power-select-line-height: 2.5 !default;
$ember-power-select-border-radius: 0.4rem !default;

@import "ember-cli-bootswatch/bootswatch";
@import 'ember-power-select/themes/bootstrap';
@import 'ember-power-select';
@import "ember-power-datepicker";
@import "calendar";


img.flagSelect{
  height: 1.5rem;
}

button[disabled] {
  cursor: not-allowed;
}


.chart-container {
  height: 20vh;
}
