<ul class="nav nav-tabs">
  {{#each model.meters as |meter index|}}
    <li class="nav-item">
      {{#link-to "housings.meters.readings" meter.housing.id meter.id classNames="nav-link"}}{{meter.name}}{{/link-to}}
    </li>
  {{/each}}
</ul>
{{liquid-outlet}}